.datebtn {
  color: black;
  font-weight: bold;
  border: none;
  background-color: #f7f7f7;
}

.datebtn:hover {
  color: black;
  font-weight: bold;
  background-color: white;
  border: 1px #dce0dd;
  border-radius: 10px;
}

.dateSelected {
  color: black;
  font-weight: bold;
  border: none;
  background-color: #03fcad;
}
